body {
	background-color: #ED254E;
	margin: 1;
}

p {
	color: #FDFFFC
}

p a {
	color: #3AD8D0
}

ul {
	color: #011627;
	font-size: 20px;
	font-family: fantasy;
}

section	{
	width: 50vw;
}

p	{
	font-size: 1.5em;
	font-family: fantasy;
	margin: 1.5em;
}

form {
	display: flex;
	align-items: flex-start;
	font-size: 1.5em;
	font-family: fantasy;
}

input {
	font-size: 0.75em;
}
